@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:is(.dark *));

/* Instrument Sans */
@theme inline {
  --radius-sm: 0.2rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-buksu-blue: #1e3a8a;
  --color-buksu-accent: #60a5fa;
  --color-buksu-gold: #fbbf24;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
  --color-surface-dark: #1e293b;
  --color-surface-light: #ffffff;

  --color-deep-navy: #0a0f18;
  --color-charcoal-grey: #1a1f26;
  --color-vibrant-azure: #0084ff;
  --color-surface-dark: #121821;
  --color-border-blue: #1e293b;
}

@layer base {
  body {
    font-family: 'Poppins';
  }
}

/* custom colors in google autofill / remove colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

/* Landing page */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.hero-gradient {
  background:
    radial-gradient(circle at 0% 0%, rgba(59, 130, 246, 0.15) 0%, transparent 50%),
    radial-gradient(circle at 100% 100%, rgba(30, 58, 138, 0.1) 0%, transparent 50%);
}

/* Login */
.glass-panel {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Signup Step 1 & 2 */
.step-active {
  @apply border-primary text-primary;
}

.step-complete {
  @apply border-primary bg-primary text-white;
}

.step-pending {
  @apply border-slate-700 text-slate-500;
}

input:focus,
select:focus {
  @apply border-primary ring-2 ring-primary/40 outline-none;
}

/* Signup Step 3 */
.verification-input {
  @apply h-16 w-12 rounded-xl border-white/10 bg-background-dark text-center text-2xl font-bold text-white transition-all;
}

.glow-envelope {
  filter: drop-shadow(0 0 20px rgba(59, 130, 246, 0.4));
}

/* TENANT */

/* Sidebar */
.active-nav {
  background-color: color-mix(in oklab, #3b82f6 10%, transparent);
  color: #3b82f6 !important;
}

/* Events page */
.status-badge {
  @apply rounded-full px-2.5 py-1 text-[10px] font-bold tracking-wider uppercase;
}

/* Attendance page */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
